/*!**/

/*.search-tags {*/
    /*line-height: 25px;*/
    /*box-sizing: border-box;*/
    /*border: none !important;*/
    /*padding: 4px;*/
    /*-webkit-box-shadow: none !important;*/
    /*outline: 0 !important;*/
    /*font-size: 1em;*/
    /*color: #222;*/
    /*font-weight: bold;*/
    /*width: 100%;*/
/*}*/

/*.cont {*/
    /*position: relative;*/
    /*background: #fff;*/
    /*border-radius: 3px;*/
    /*padding: 2px 10px;*/
    /*box-shadow: 0 1px 2px rgba(12, 13, 14, 0.1) inset;*/
    /*border: 1px solid #c8ccd0;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
/*}*/

/*.cont,*/
/*#tag-picker {*/
    /*width: 600px;*/
    /*box-sizing: border-box;*/
/*}*/

/*#tag-picker {*/
    /*height: 425px;*/
    /*background: #efefef;*/
/*}*/

/*.tag-picker-item {*/
    /*box-sizing: border-box;*/
    /*width: 200px;*/
    /*height: 50%;*/
    /*float: left;*/
    /*padding: 5px;*/
    /*font-size: .85em;*/
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/

/*.tag-picker-item:hover {*/
    /*background: #ddd;*/
/*}*/

/*.tag-picker-item .term {*/
    /*font-weight: bold;*/
    /*background: #999;*/
    /*color: #fff;*/
    /*padding: 0px 10px;*/
/*}*/

/*.tag-picker-item .description {*/
    /*padding-top: 10px;*/
/*}*/

/*.tag {*/
    /*margin-right: 5px;*/
    /*position: relative;*/
    /*background: #ededed;*/
    /*padding: 4px 9px;*/
    /*border-radius: 4px;*/
    /*color: #222;*/
    /*font-size: .85em;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*font-weight: bold;*/
/*}*/

/*!* Close Button *!*/
/*.box {*/
    /*background: #999;*/
    /*display: inline-block;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*vertical-align: middle;*/
    /*margin-left: 5px;*/
    /*margin-top: -2px;*/
/*}*/

/*.box3 {*/
    /*width: 14px;*/
    /*height: 14px;*/
/*}*/

/*svg {*/
    /*display: inline-block;*/
/*}*/

/*.close-x {*/
    /*stroke: #fff;*/
    /*fill: transparent;*/
    /*stroke-linecap: round;*/
    /*stroke-width: 6;*/
/*}*/

/*.box:hover {*/
    /*background: #c91d2e;*/
/*}*/

/*#error {*/
    /*padding-top: 7px;*/
    /*color: red;*/
/*}*/
/**!*/


#suggestions{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#suggestions div{
    border-right: 1px solid;
}

#suggestions div.suggested-tag:hover{
    background: #4F5155;
}